@font-face {
  font-family: 'kom-post'; /* Название придумайте сами */
  src: url('../font/kom-post.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Чтобы текст показывался сразу */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeInImg {
  from { opacity: 0; transform: scaleY(0.0); }
  to { opacity: 1; transform: scaleY(1.0); }
}

@keyframes slideInImg {
  0% { transform: scaleY(1.0); transform: scaleX(1.0); }
  75% { transform: scaleY(1.3); transform: scaleX(1.2); }
  100% { transform: scaleY(0.0); }
}

/* Класс для запуска анимации */
.animate-fade-img {
  animation: fadeInImg 0.3s ease-out;
}

.animate-slide-img {
  animation: slideInImg 0.12s ease-in;
}


body {
    animation: fadeIn 0.5s ease-in-out;
    background-image: url('../img/background.png');
    background-size: cover;
    min-height: 100vh;
}

.buttons {
    padding: 25px 100px;
    text-align: center;
    flex-shrink: 0; /* Чтобы кнопки не сжимались */

    button {
        width: 150px;
        padding: 5px;     /* Вместо фиксированной высоты */
        font-family: 'kom-post';
        font-size: 20px;
        color: white;
        background-color: #2F2F2F;
        border-radius: 40px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0 10px;
        border: 3px solid #2F2F2F;
        /* Для идеального центрирования */
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    button:hover{
        transform: scale(1.15);
    }

    #mechanics {
        border: 3px solid #2F2F2F;
        color: #2F2F2F;
        background-color: #ffffff00;
    }
}

.lore {
    padding: 100px 100px;
    flex-shrink: 0;
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    justify-content: center; /* или flex-start, если нужно по левому краю */
}

.lore figure {
    transition: transform 0.3s ease;
    text-align: center; /* чтобы заголовок был по центру над картинкой */
    margin: 0; /* убираем отступы браузера по умолчанию */
}

.lore figure img {
    width: 400px; /* или любую другую ширину */
    height: auto;
    display: block; /* убирает лишний отступ снизу у картинки */
}

.lore figure h3 {
    color: #2F2F2F;
    font-family: 'kom-post';
    font-size: 50px;
}

.lore figure:hover{
    transform: scale(1.2);
}

.objects {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 10px;
}

.objects h1{
    border-color: red;
    text-align: center;
    padding: 40px;
    color: #2F2F2F;
    font-size: 50px;
    font-family: 'kom-post';
}

.objects figure img {
    padding: 40px; /* или любую другую ширину */
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
    display: block; /* убирает лишний отступ снизу у картинки */
}

.objects figure button img {
    width: 170px;
    height: auto;
    margin: 0 150px 0 150px;
}

.objects figure {
    text-align: center;
    display: flex;
    justify-items: center;
    margin: 0; /* убираем отступы браузера по умолчанию */
}

.objects figure img:hover{
    transform: scale(1.0);
}

.objects figure button img:hover{
    transform: scale(1.2);
}

.objects h3 {
    text-align: center;
    padding: 40px 0 0 0;
    color: #2F2F2F;
    font-family: 'kom-post';
    font-size: 50px;
}

.objects p {
    text-align: center;
    color: #2F2F2F;
    font-family: 'kom-post';
    font-size: 33px;
}

.objects button {
    border-color: #ffffff00;;
    background-color: #ffffff00;
    align-self: center;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 0 200px 0;
}

/* Скрываем полосу прокрутки, но прокрутка работает */
body::-webkit-scrollbar {
  width: 0;          /* Убираем полосу */
  background: transparent;
}