@font-face {
  font-family: 'kom-post'; /* Название придумайте сами */
  src: url('../font/kom-post.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Чтобы текст показывался сразу */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: fadeIn 0.5s ease-in-out;
    background-image: url('../img/background.png');
    background-size: cover;
    min-height: 100vh;
}

.buttons {
    padding: 25px 100px;
    text-align: center;
    flex-shrink: 0; /* Чтобы кнопки не сжимались */

    button {
        width: 150px;
        padding: 5px;     /* Вместо фиксированной высоты */
        font-family: 'kom-post';
        font-size: 20px;
        color: white;
        background-color: #2F2F2F;
        border-radius: 40px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0 10px;
        border: 3px solid #2F2F2F;
        /* Для идеального центрирования */
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    button:hover{
        transform: scale(1.15);
    }

    #download {
        border: 3px solid #2F2F2F;
        color: #2F2F2F;
        background-color: #ffffff00;
    }
}

img {
    display: flex;
    justify-self: center;
    margin: 150px 0 50px 0;
}

.downloadText h1 {
    font-size: 55px;
    text-align: center;
    font-family: 'kom-post';
    color: #2F2F2F;
}

.downloadText {
    display: grid;
    justify-items: center;
}

.downloadButton {
    margin: 100px;
    display: flex;
    justify-items: center;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 28px;
        text-align: center;
        font-family: 'kom-post';
        color: #2F2F2F;
    }
    button {
        margin:  0 20px 0 20px;
        padding: 0;
        font-size: 28px;
        text-align: center;
        font-family: 'kom-post';
        color: white;

        width: 150px;

        border: none;
        background-color: #2F2F2F;
        border-radius: 10px 10px 10px 10px;

        transition: all 0.3s ease;
    }

    button:hover {
        transform: scale(1.15);
    }
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Скрываем полосу прокрутки, но прокрутка работает */
body::-webkit-scrollbar {
  width: 0;          /* Убираем полосу */
  background: transparent;
}